name: Check PKGBUILD

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    container: archlinux:latest

    steps:
      - name: Install dependencies
        run: |
          pacman -Sy --noconfirm base-devel git devtools namcap

      - name: Checkout
        uses: actions/checkout@v4

      - name: Generate .SRCINFO
        run: |
          makepkg --printsrcinfo > .SRCINFO

      - name: Run namcap
        run: namcap PKGBUILD || true

      - name: Makepkg
        run: |
          makepkg -scr --noconfirm
