name: Check PKGBUILD

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    container: archlinux:latest

    steps:
      - name: Install base-devel, devtools, namcap
        run: |
          pacman -Sy --noconfirm git base-devel devtools namcap sudo
          # Створити користувача без пароля
          useradd -m builder
          echo "builder ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Fix permissions for builder
        run: |
          chown -R builder:builder .

      - name: Generate .SRCINFO
        run: |
          sudo -u builder makepkg --printsrcinfo > .SRCINFO

      - name: Run namcap
        run: |
          sudo -u builder namcap PKGBUILD || true

      - name: Build package
        run: |
          sudo -u builder makepkg -sc --noconfirm
